# Template from: https://github.com/DecimalTurn/VBA-on-GitHub

# By default, auto-detect text files and perform CRLF to LF conversion at checkin. LF to Native line endings conversion at checkout.
* text=auto

# VBA extensions (bas, cls, frm, vba, doccls) - Enforce CRLF in working directory
*.[bB][aA][sS]              text eol=crlf
*.[cC][lL][sS]              text eol=crlf
*.[fF][rR][mM]              text eol=crlf
*.[vV][bB][aA]              text eol=crlf
*.[dD][oO][cC][cC][lL][sS]  text eol=crlf

# Other VBA extensions (frx) - Mark as binary
*.[fF][rR][xX]              binary

############################################################################
# Other languages in the VB family 
############################################################################

# VBS extensions - Enforce CRLF in working directory (vbs)
*.[vV][bB][sS]              text eol=crlf

# VB6 extensions - Enforce CRLF in working directory (ctl, dsr, dob, pag, vbg, vbl, vbp, vbr, vbw)
*.[cC][tT][lL]              text eol=crlf
*.[dD][sS][rR]              text eol=crlf
*.[dD][oO][bB]              text eol=crlf
*.[pP][aA][gG]              text eol=crlf
*.[vV][bB][gB]              text eol=crlf
*.[vV][bB][lL]              text eol=crlf
*.[vV][bB][pP]              text eol=crlf
*.[vV][bB][rR]              text eol=crlf
*.[vV][bB][wW]              text eol=crlf

# VB6 extensions - Mark as binary (ctx, dox, pgx)
*.[cC][tT][xX]              binary
*.[dD][oO][xX]              binary
*.[pP][gG][xX]              binary

# twinBASIC sources extensions - Enforce CRLF in working directory (twin, tbform)
*.[tT][wW][iI][nN]          text eol=crlf linguist-language=VB6
*.[tT][bB][fF][oO][rR][mM]  text eol=crlf linguist-language=JSON

# twinBASIC project extension - Mark as binary (twinproj)
*.[tT][wW][iI][nN][pP][rR][oO][jJ]  binary

############################################################################
# Other Windows-specific extensions
############################################################################

# INI file extensions - Enforce CRLF in working directory (ini)
*.[iI][nN][iI]              text eol=crlf

# Batch scripts - Enforce CRLF in working directory (cmd, bat)
*.[cC][mM][dD]              text eol=crlf
*.[bB][aA][tT]              text eol=crlf

############################################################################
# Optional Sections
############################################################################

# Excel documents (xla, xlam, xls, xlsb, xlsm and xlsx)
*.[xX][lL][aA]              binary
*.[xX][lL][aA][mM]          binary
*.[xX][lL][sS]              binary
*.[xX][lL][sS][bB]          binary
*.[xX][lL][sS][mM]          binary
*.[xX][lL][sS][xX]          binary

# Word documents (rtf, doc and docx)
*.[rR][tT][fF]              diff=astextplain
*.[dD][oO][cC]              diff=astextplain
*.[dD][oO][cC][xX]          diff=astextplain

# PowerPoint documents (ppt and pptx)
*.[pP][pP][tT]              binary
*.[pP][pP][tT][xX]          binary                  

# Access documents (accdb)
*.[aA][cC][cC][dD][bB]      binary

# Images (jpg, png, bmp, gif, ico)            
*.[jJ][pP][gG]              binary
*.[pP][nN][gG]              binary
*.[bB][mM][pP]              binary
*.[gG][iI][fF]              binary
*.[iI][cC][oO]              binary

# Compressed files (zip, cab, 7z, gz)
*.[zZ][iI][pP]              binary
*.[cC][aA][bB]              binary
*.[7][zZ]                   binary
*.[gG][zZ]                  binary

# Executables (exe, dll)
*.[eE][xX][eE]              binary
*.[dD][lL][lL]              binary

# Other (pdf)
*.[pP][dD][fF]              diff=astextplain
