# A .gitattributes configuration file that fights against Git to keep CRLF inside the index. 

# Important: This .gitattributes makes use of the crlf filter. To make sure it is active, run the following command at the root of the git repo: git config include.path ../.gitconfig
# (The reason why we need the ".." is to move one folder up because the config file is located in the .git subfolder.)

# By default, auto detect text files and perform LF normalization
* text=auto                 eol=lf

# VBA extensions - Enforce CRLF using a filter
*.[bB][aA][sS]              filter=crlf -text
*.[cC][lL][sS]              filter=crlf -text
*.[fF][rR][mM]              filter=crlf -text
*.[vV][bB][aA]              filter=crlf -text

# VBA extensions - Mark as binary
*.[fF][rR][xX]              binary
                    
# AutoHotKey - Enforce CRLF using a filter
*.[aA][hH][kK]              filter=crlf -text

# Batch scripts - Enforce CRLF using a filter
*.[cC][mM][dD]              filter=crlf -text
*.[bB][aA][tT]              filter=crlf -text

# The rest of the .gitattributes can be taken from the standard .gitattributes file.