# This .gitattributes file is configured to fight against Git to keep CRLF inside the index. 

# Important: This fie makes use of the a filter named "crlf". This filter users the unix2dos command that is included with Git for Windows (and most Unix distro).
# To make sure this filter is active, you have 2 options (A or B): 
# A) 
# - Run the following command at the root of your Git repository: git config --add filter.crlf.clean unix2dos
# B) 
# - Run the following command at the root of the Git repository: git config include.path ../.gitconfig
#   (The reason why we need the ".." is to move one folder up because the config file is located in the .git subfolder.)
# - Then make sure that you have a file named .gitconfig in your Git repository like this file: https://github.com/DecimalTurn/Using-VBA-on-GitHub/blob/main/gitattributes/CRLF%20everywhere/.gitconfig

# By default, auto detect text files and perform LF normalization
* text=auto                 eol=lf

# VBA extensions - Enforce CRLF using a filter
*.[bB][aA][sS]              filter=crlf -text
*.[cC][lL][sS]              filter=crlf -text
*.[fF][rR][mM]              filter=crlf -text
*.[vV][bB][aA]              filter=crlf -text

# VBA extensions - Mark as binary
*.[fF][rR][xX]              binary
                    
# AutoHotKey - Enforce CRLF using a filter
*.[aA][hH][kK]              filter=crlf -text

# Batch scripts - Enforce CRLF using a filter
*.[cC][mM][dD]              filter=crlf -text
*.[bB][aA][tT]              filter=crlf -text

# The rest of the .gitattributes can be taken from the standard .gitattributes file.
