# Template from: https://github.com/DecimalTurn/VBA-on-GitHub

# Don't perform any line ending conversions by default

# VBA extensions - Prevent LF normalization (bas, cls, frm, vba, doccls)
*.[bB][aA][sS]              -text diff
*.[cC][lL][sS]              -text diff
*.[fF][rR][mM]              -text diff
*.[vV][bB][aA]              -text diff
*.[dD][oO][cC][cC][lL][sS]  -text diff

# VBA extensions - Mark as binary (frx)
*.[fF][rR][xX]              binary

############################################################################
# Other languages in the VB family 
############################################################################

# VBS extensions - Prevent LF normalization (vbs)
*.[vV][bB][sS]              -text diff

# VB6 extensions - Prevent LF normalization (ctl, dsr, dob, pag, vbg, vbl, vbp, vbr, vbw)
*.[cC][tT][lL]              -text diff
*.[dD][sS][rR]              -text diff
*.[dD][oO][bB]              -text diff
*.[pP][aA][gG]              -text diff
*.[vV][bB][gB]              -text diff
*.[vV][bB][lL]              -text diff
*.[vV][bB][pP]              -text diff
*.[vV][bB][rR]              -text diff
*.[vV][bB][wW]              -text diff

# VB6 extensions - Mark as binary (ctx, dox, pgx)
*.[cC][tT][xX]              binary
*.[dD][oO][xX]              binary
*.[pP][gG][xX]              binary

# twinBASIC sources extensions - Prevent LF normalization (twin, tbform)
*.[tT][wW][iI][nN]          -text diff linguist-language=VB6
*.[tT][bB][fF][oO][rR][mM]  -text diff linguist-language=JSON

# twinBASIC project extension - Mark as binary (twinproj)
*.[tT][wW][iI][nN][pP][rR][oO][jJ]  binary

############################################################################
# Other Windows-specific extensions
############################################################################

# INI file extensions - Prevent LF normalization (ini)
*.[iI][nN][iI]              -text diff

# Batch scripts - Prevent LF normalization (cmd, bat)
*.[cC][mM][dD]              -text diff
*.[bB][aA][tT]              -text diff

############################################################################
# Optional Sections
############################################################################

# Excel documents (xla, xlam, xls, xlsb, xlsm and xlsx)
*.[xX][lL][aA]              binary
*.[xX][lL][aA][mM]          binary
*.[xX][lL][sS]              binary
*.[xX][lL][sS][bB]          binary
*.[xX][lL][sS][mM]          binary
*.[xX][lL][sS][xX]          binary

# Word documents (rtf, doc and docx)
*.[rR][tT][fF]              diff=astextplain
*.[dD][oO][cC]              diff=astextplain
*.[dD][oO][cC][xX]          diff=astextplain

# PowerPoint documents (ppt and pptx)
*.[pP][pP][tT]              binary
*.[pP][pP][tT][xX]          binary                  

# Access documents (accdb)
*.[aA][cC][cC][dD][bB]      binary

# Images (jpg, png, bmp, gif, ico)           
*.[jJ][pP][gG]              binary
*.[pP][nN][gG]              binary
*.[bB][mM][pP]              binary
*.[gG][iI][fF]              binary
*.[iI][cC][oO]              binary

# Compressed files (zip, cab, 7z, gz)
*.[zZ][iI][pP]              binary
*.[cC][aA][bB]              binary
*.[7][zZ]                   binary
*.[gG][zZ]                  binary

# Executables (exe, dll)
*.[eE][xX][eE]              binary
*.[dD][lL][lL]              binary

# Other (pdf)
*.[pP][dD][fF]              diff=astextplain
